{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <p class="date">
                Created: {{ post.created_date }}
            </p>

            <h2>
                <a href="{% url 'post_detail' pk=post.pk %}">
                    {{ post.title }}
                </a>
            </h2>

            <p>{{ post.text|truncatechars:200 }}</p>
        </article>
    {% empty %}
        <p>No draft posts are available.</p>
    {% endfor %}
{% endblock %}